.about__heading {
margin-top: 77px;
}

.about__title {
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 48px;
    line-height: 117%;
    color: var(--black);
    margin-top: 24px;
}

.about__btn {
    border: 1px solid var(--black);
    border-radius: 28px;
    width: 116px;
    height: 36px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 14px;
    line-height: 143%;
    color: var(--black);
}

.about__block{
    margin-top: 202px;
    width: 1376px;
    height: 440px;
}

.about__list {
    display: flex;
    justify-content: space-between;

}



