.portfolio__block {
    display: flex;
    justify-content: space-between;
    margin-top: 80px;
}

.portfolio__heading {
    width: 491px;
    height: 156px;
}

.portfolio__tag{
    border: 1px solid var(--black);
    border-radius: 28px;
    width: 82px;
    height: 36px;
    display: flex;
    align-items: center;
    justify-content: center;
    
}

.portfolio__title {
    margin-top: 24px;
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 40px;
    line-height: 120%;
    color: var(--black);
}

.portfolio__button {
    display: flex;
    align-items: end;
}