:root {
	--brand: #b3fc6d;
	--orange: #f90;
	--black: #1b1b1b;
	--purple: #34359b;
	--purple-2: #9dbeff;
	--dark-green: #105447;
	--accent: #1a5a4c;
	--white: #fff;
	--abu-stroke: #ebebeb;
	--abu-bg: #f5f5f5;
	--text: #575757;
	--hijau-bg: rgba(26, 90, 76, 0.12);
	--hijau-nyobain: #dce9b1;
}

:root {
  --font-family: "SF Pro Display", sans-serif;
  --second-family: "Inter", sans-serif;
}

.container {
    max-width: 1504px;
    width: 100%;
    margin:  0 auto;
    padding: 0 32px;
}