.btn-1 {
    border: 1px solid var(--black);
    border-radius: 28px;
    width: 132px;
    height: 44px;
}

.btn-2 {
    border: 1px solid var(--black);
    border-radius: 48px;
    padding: 4px;
    width: 44px;
    height: 44px;
}

.btn {
    background-color: var(--black);
    color: var(--hijau-nyobain);
}

.btn-3 {
    position: relative;
    top: 55px;
    left: 24px;
}


